{
  "parser": "@typescript-eslint/parser",
  "ignorePatterns": ["dist"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended",
    "prettier"
  ],
  "rules": {
    "strict": ["error", "never"],
    "no-var": "error",
    "prefer-const": "error"
  },
  "env": {
    "node": true,
    "es6": true
  }
}
